<div class="page-header">
  <h1><%=t '.title', :default => 'Buscar Pedido'%></h1>
</div>
<%= form_with url: search_orders_path do |form| %>
  <%= form.label :pedidos %>
  <%= form.text_field :pedidos %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.submit nil, :class => 'btn btn-primary' %>
<% end %>