<div class="page-header">
  <h1><%=t '.title', :default => 'Buscar Pedido'%></h1>
</div>
<%= form_with url: search_orders_path do |form| %>
  <%= form.label :pedido %>
  <%= form.text_field :pedido %>
  <%= form.label :cpf %>
  <%= form.text_field :cpf %>
  <%= form.submit nil, :class => 'btn btn-primary' %>
<% end %>