<h5>Trocas de peças promocionais não arcamos com o custo do frete. Mas estamos sempre disponíveis para trocar nas compras feitas nos últimos 30 dias.
    Quem tiver interesse de fazer troca, mesmo sendo peça de promoção.
    Terá que enviar para a gente, e assim que chegar vamos dar um cupom para refazer a compra no site com tamanho certo. 
    E vocês terão que pagar o frete de ida e de volta.
      
    WhatsApp: <a href="https://web.whatsapp.com/send?phone=5551982230340'%>&amp;text=Oi, estou com dúvida na troca." target="_blank">Clique Aqui para entrar em contato com o suporte.</a>
</h5>
<div class="row justify-content-center">
  <a href="/"><img src="https://17741.cdn.simplo7.net/static/17741/configuracao/logo_151893456531094.png" alt="Purchase Store" title="Purchase Store"></a>
  <div class="col-12">
    <div class="page-header">
      <h1><%=t '.title', :default => 'Buscar Pedido'%></h1>
    </div>
  </div>
  <div class="col-12">
    <h3>Insira o número do pedido e o seu cpf da compra efetuada em nossa loja para que possamos identificar os produtos para qual deseja solicitar a troca.</h3>
  </div>
  <div class="row">
    <%= form_with url: search_orders_path do |form| %>
      <div class="form-group">
        <div class="col-6 align-self-center">
          <%= form.label :pedido %>
          <%= form.text_field :pedido, class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-6">
          <%= form.label :cpf %>
          <%= form.text_field :cpf, class: "form-control", required: true  %>
        </div>
      </div>
      <div class="col-6 align-self-center">
        <%= form.submit "Buscar Pedido", :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>