<h1>Bem-vindx <%= @order.cliente_razaosocial %></h1>

<h2>Seu pedido é o número <%= @order.numero %></h2> 
<%= form_with url: generate_order_change_path do |form| %>
  <table id="stockTable" class="table table-striped">
    <thead>
      <tr>
        <th>Quer troca?</th>
        <th>Nome Produto</th>
        <th>SKU</th>
        <th>Valor Unitário</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= check_box 'order_change', item.item_id %> <br /></td>
          <td><%= item.nome_produto %></td>
          <td><%= item.sku %></td>
          <td><%= item.valor_total %></td>
          <td><%= item.quantidade %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3>Motivo</h3>
  <h5>Detalhar qual o motivo está fazendo a troca: Tamanho qual a parte que ficou pequena, desistência qual o motivo que levou a desistir da compra, defeito qual o defeito especificamente, se for erro de envio qual a peça for errada.
  Caso a solitação não for feita com detalhes não será feita a troca.<h5>
  <div>
  <%= form.hidden_field :order_id, value: @order.id %>
  <%= text_area(:change, :description, size: "100X100") %><br>
  <div class="field">
    <%= form.label 'Tipo de solicitação', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= select("change", "change_type", OrderChange.change_types.keys.to_a , {},{ include_blank: true, class: 'form-control form-control-sm' }) %>
    </div>
  </div>
  <div class="field">
    <%= form.label 'Modo de retirada/Envio', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= select("change", "devolution_type", OrderChange.devolution_types.keys.to_a , {},{ include_blank: true, class: 'form-control form-control-sm' }) %>
    </div>
  </div>
  <%= form.submit "Salvar", :class => 'btn btn-primary' %>

<% end %>